image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - build

build_and_push:
  stage: build
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build -t $DOCKER_USERNAME/passmgr-frontend:latest ./frontend
    - docker push $DOCKER_USERNAME/passmgr-frontend:latest
